STRING_SESSION  =  AQAZOz3riJcxDIzQow34MUFiPbXTk0pG9ZeQa7pkP5p1zPDbKxsnUx5_ZNBAS_tE0VCZtOlzJE6Qgn7MxSM9wlb7hulAiVyVAeFaTbdPB8yFQ92qzpojBtv-QoIg6FLVoJwkCDL0knapjZZ50jFGDDwNklfVjzisJPAn6a493RMPvyIJ-gthcac3hPylrFiqZXkdKZlWWDBdjZWArm7oZoq027-VUFJyuphALTQv0mxnU0GmuQ4H3QmEaytyXTVr0sMNx6jhgzq8spL_LLm4GngHbx6ARpzpVVqR60w9L4tFGOCtUsNWv1qxCfs8vJsq-ypyvKxegM6pfyu3NTForXM9AAAAAVYvuqQA
API_ID  =  16401923
API_HASH  =  3faea4a96156fd1768b180d0aeacf099
BOT_TOKEN  =  2140728197:AAGmrjXOXeroR4zMMf_h5t2QVza1KzGMlJY
MONGO_DB_URI  =  mongodb+srv://Mukesh01:chuprah@cluster0.dz9iv.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
LOG_GROUP_ID  =  -1001790627664
MUSIC_BOT_NAME  = @Cruella_robot 
OWNER_ID  = 828804574
